body {
  background: center/cover url('img.jpg') no-repeat;
  /* opacity: 0.5; */
  text-align: center;
  color: white;
  font-weight: bold;
}

#survey-form {
  background-color: rgba(1, 1, 26, 0.692);
}